/.bundle
/.env
/.env.local
/.env.test.local
/.env.production.local
/.env.development.local
/.git

stdout

/tmp/*
!/tmp/.keep
!/tmp/pids/.keep
/log/*
!/log/.keep

.ruby-gemset
.DS_Store
.idea
.rakeTasks
.generators
.irb-history
